# Maven build output
target/

# Test reports
reports/
allure-results/
allure-report/
test-output/

# Eclipse IDE
.project
.classpath
.settings/

# Logs & artifacts
*.log
*.png
*.mp4

# OS files
.DS_Store
Thumbs.db
